config/local.php
config/console-local.php
./node_modules/
./src/
webpack.config.js
pageage.json
gulpfile.js
/docker-compose.yml
/vendor/
.env
.idea
.project
/apidoc
.editorconfig
*.swp
.vimrc
.DS_Store
/webback/
.tag*
/viewsback/
.tags*
